#banner {
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #banner .banner-text {
    color: #fff;
    font-family: 'Cormorant Infant';
    font-size: 3rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
