#banner {
    background-position: center center;
    background-size: cover;
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #banner .banner-text {
    color: #fff;
    font-family: 'Cormorant Infant';
  }